

h1, h2 {
  text-align: center;
  color: blue;


}
#grid-floats {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px auto 50px;
    grid-auto-flow: dense;
    grid-gap: 0.8em;
    text-align: center;
    color: azure;
    margin: 20px;
  }
  
  #grid-floats > .grid-item:nth-child(1) {
    background-color: rgb(77, 67, 61);
    grid-column: 1 / 3;
    grid-row: 1 / -1;
  }
  
  #grid-floats > .grid-item:nth-child(2) {
    background-color: rgb(77, 67, 61);
    grid-column: 3 / 4;
    grid-row: 1 / -1;
  }
  
  #grid-floats > .grid-item:nth-child(3) {
    background-color: rgb(77, 67, 61);
    grid-column: 4 / 5;
    grid-row: 1 / -1;
  }
  #grid-floats > .grid-item:nth-child(n + 4):nth-child(-n + 15) {
    background-color: rgb(77, 67, 61);
  }
  /* For mobile Devices */
  @media screen and (max-width: 550px) {
    #grid-floats > .grid-item:nth-child(1) {
      background-color: rgb(77, 67, 61);
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }
    #grid-floats > .grid-item:nth-child(n + 2):nth-child(-n + 15) {
      background-color: rgb(77, 67, 61);
      grid-row: unset;
    }
  }
  
  /* For Tablets */
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    #grid-floats > .grid-item:nth-child(1) {
      background-color: rgb(77, 67, 61);
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-column: span 2;
      grid-row: 1 / -1;
    }
    #grid-floats > .grid-item:nth-child(2) {
      grid-column: span 2;
      grid-row: 1 / -1;
    }
    #grid-floats > .grid-item:nth-child(n + 3):nth-child(-n + 15) {
      background-color: rgb(77, 67, 61);
      grid-row: inherit;
    }
  }
  
  /* FlexBox */
  
  #grid-flex {
    display:flex;
    justify-content: space-between;
    flex-wrap:  wrap;
  }
  #grid-flex>* {
       flex: 1 1 300px;
       margin: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  img {
    width: 100px;
    height: 100px;
    margin: 10px 50px 10px 50px;
  }
  
  
